<body>
<section>
  <!--for demo wrap-->
  <h1>Contract</h1>
  <td>

    <div >
      <button type="button" class="btn btn-primary"  (click)="addContract()" >Create Contract</button>
    </div>

  </td>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Customer</th>
        <th>Facility</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Deposit</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <tr *ngFor="let contract of contract">
        <td>{{contract.id}}</td>
        <td>{{contract.code}}</td>
        <td>{{contract.customer}}</td>
        <td>{{contract.facility}}</td>
        <td>{{contract.startDate}}</td>
        <td>{{contract.endDate}}</td>
        <td>{{contract.deposit}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</section>


</body>
