<h1 style="text-align: center">CUSTOMER LIST</h1>

<div>
  <div >
  <button type="button" class="btn btn-primary"  (click)="addCustomer()" >Create Customer</button>
  </div>

  <br/>
  <table id="customers" style="border-collapse: collapse;">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>birthDay</th>
      <th>gender</th>
      <th>idCard</th>
      <th>numberPhone</th>
      <th>email</th>
      <th>customerType</th>
      <th>action</th>
    </tr>
    <tr *ngFor="let customer of customer">
      <td>{{customer?.id}}</td>
      <td>{{customer?.name}}</td>
      <td>{{customer?.birthDay}}</td>
      <td>{{customer?.gender}}</td>
      <td>{{customer?.idCard}}</td>
      <td>{{customer?.numberPhone}}</td>
      <td>{{customer?.email}}</td>
      <td>{{customer?.customerType}}</td>
      <td>
        <button type="button" class="btn btn-primary">edit</button> &nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="deleteCustomer(customer.id)"  >DELETE</button>
      </td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        DO YOU WANT TO DELETE?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" >DELETE</button>
      </div>
    </div>
  </div>
</div>
