<h1 style="text-align: center">CUSTOMER LIST</h1>

<div>
  <div >
  <button type="button" class="btn btn-primary"  (click)="addCustomer()" >Create Customer</button>
  </div>

  <br/>
  <table id="customers" style="border-collapse: collapse;">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>birthDay</th>
      <th>gender</th>
      <th>idCard</th>
      <th>numberPhone</th>
      <th>email</th>
      <th>customerType</th>

    </tr>
    <tr *ngFor="let customer of customer">
      <td>{{customer?.id}}</td>
      <td>{{customer?.name}}</td>
      <td>{{customer?.birthDay}}</td>
      <td>{{customer?.gender}}</td>
      <td>{{customer?.idCard}}</td>
      <td>{{customer?.numberPhone}}</td>
      <td>{{customer?.email}}</td>
      <td>{{customer?.customerType}}</td>


    </tr>
  </table>
</div>

