<p>customer list</p>
<div>
  <div>
  <button mat-button color="primary" (click)="addCustomer()" >them moi</button>
  </div>

  <br/>
  <table id="customers" style="border-collapse: collapse;">
    <tr>
      <th>id</th>
      <th>code</th>
      <th>gender</th>
      <th>firstName</th>
      <th>lastName</th>
      <th>dob</th>
      <th>email</th>
      <th>phone</th>
    </tr>
<!--    <tr *ngFor="let customer of customers">-->
<!--      <td>{{student?.id}}</td>-->
<!--      <td>{{student?.code}}</td>-->
<!--      <td>{{student?.gender}}</td>-->
<!--      <td>{{student?.firstName}}</td>-->
<!--      <td>{{student?.lastName}}</td>-->
<!--      <td>{{student?.dob}}</td>-->
<!--      <td>{{student?.email}}</td>-->
<!--      <td>{{student?.phone}}</td>-->
<!--    </tr>-->
  </table>
</div>

