<p>customer-form works!</p>
<div class="container">

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <label>
      ID:
      <input type="text" class="form-control" formControlName="id" required />
    </label>
    <span *ngIf="customerForm.controls.id.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      name:
      <input type="text" class="form-control" formControlName="name" required />
    </label>
    <span *ngIf="customerForm.controls.name.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      birthDay:
      <input type="text" class="form-control" formControlName="birthDay" required />
    </label>
    <span *ngIf="customerForm.controls.birthDay.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      gender:
      <input type="text" class="form-control" formControlName="gender" required />
    </label>
    <span *ngIf="customerForm.controls.gender.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br/>
    <label>
      idCard:
      <input type="text" class="form-control" formControlName="idCard" required />
    </label>
    <span *ngIf="customerForm.controls.idCard.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      numberPhone:
      <input type="text" class="form-control" formControlName="numberPhone" required />
    </label>
    <span *ngIf="customerForm.controls.numberPhone.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      email:
      <input type="text" class="form-control" formControlName="email" required />
    </label>
    <span *ngIf="customerForm.controls.email.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />
    <label>
      customerType:
<!--      <input type="text" class="form-control" formControlName="customerType" required />-->
      <select  ng-model="customerType" ng-options="item for item in items" formControlName="customerType" required>
        <option value="Diamond" selected="customerType">Diamond</option>
        <option value="Platinium" selected="customerType">Platinium</option>
        <option value="Gold" selected="customerType">Gold</option>
        <option value="Silver" selected="customerType">Silver</option>
        <option value="Member" selected="customerType">Member</option>
      </select>
    </label>
    <span *ngIf="customerForm.controls.customerType.invalid" class="errorMessage">
      * khong duoc de trong
    </span>
    <br />

    <br />
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!customerForm.valid"
    >
      Submit
    </button>
  </form>
</div>

