<p>facility-form works!</p>
<div class="container">
  <form [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
    <!--  id: string;-->
    <!--  name: string;-->
    <!--  area: string;-->
    <!--  cost: string;-->
    <!--  maxPeople: string;-->
    <!--  rentType: string;-->
    <label>
      ID:
      <input type="text" class="form-control" formControlName="id"/>
    </label>
    <span *ngIf="facilityForm.controls.id.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>

    <label>
      name:
      <input type="text" class="form-control" formControlName="name" />
    </label>
    <span *ngIf="facilityForm.controls.name.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>

    <label>
      area:
      <input type="text" class="form-control" formControlName="area" />
    </label>
    <span *ngIf="facilityForm.controls.area.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>

    <label>
      cost:
      <input type="text" class="form-control" formControlName="cost" />
    </label>
    <span *ngIf="facilityForm.controls.cost.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>

    <label>
      maxPeople:
      <input type="text" class="form-control" formControlName="maxPeople" />
    </label>
    <span *ngIf="facilityForm.controls.maxPeople.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>

    <label>
      rentType:
      <input type="text" class="form-control" formControlName="rentType" />
    </label>
    <span *ngIf="facilityForm.controls.rentType.hasError('required')" class="errorMessage">
      * Cannot be left blank
    </span>
    <br/>


    <br/>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!facilityForm.valid"
    >
      Submit
    </button>
  </form>
</div>
