<H1 STYLE="text-align: center">ADD NEW CONTRACT</H1>
<div class="container">
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <!--  id: string;-->
    <!--  code: string;-->
    <!--  customer: string;-->
    <!--  facility: string;-->
    <!--  startDate: string;-->
    <!--  endDate: string;-->
    <!--  deposit: string;-->
    <label>
      ID:
      <input type="text" class="form-control" formControlName="id" required />
    </label>
    <span *ngIf="contractForm.controls.id.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      code:
      <input type="text" class="form-control" formControlName="code" required />
    </label>
    <span *ngIf="contractForm.controls.code.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      customer:
      <input type="text" class="form-control" formControlName="customer" required />
    </label>
    <span *ngIf="contractForm.controls.customer.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      facility:
      <input type="text" class="form-control" formControlName="facility" required />
    </label>
    <span *ngIf="contractForm.controls.facility.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      startDate:
      <input type="text" class="form-control" formControlName="startDate" required />
    </label>
    <span *ngIf="contractForm.controls.startDate.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      endDate:
      <input type="text" class="form-control" formControlName="endDate" required />
    </label>
    <span *ngIf="contractForm.controls.endDate.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <label>
      deposit:
      <input type="text" class="form-control" formControlName="deposit" required />
    </label>
    <span *ngIf="contractForm.controls.deposit.invalid" class="errorMessage">
      * cannot be left blank
    </span>
    <br />

    <br />
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!contractForm.valid"
    >
      Submit
    </button>
  </form>
</div>
